@charset "utf-8";

/* container */
.container{ box-sizing: border-box;cursor: pointer; padding: 0.2em; transition: all 0.25s ease-in;}
.container:hover .thumbnail{transform: scale(1.01);}
.container.grid{width: 50%;}
.container.list{width: 100%;}

/* video */
.video{display: flex; align-items: center; border: 1px solid lightgray; overflow: hidden;}

/* 이미지 */
.thumbnail{width: 40%;height: 100%; transition: all 0.3s;}

.metadata{margin-left: 1em;}

/* 영상 타이틀 */
.title{font-size: 0.8rem;}

/* 채널 타이틀 */
.channel{font-size: 0.6rem;}